.spotReview{
    padding: 20px 0;
}

.newSpot{
    display: flex;
    align-items: center;
    gap: 10px;
}

.newSpot span{
    font-size: 25px;
    font-weight: bold;
}

.spotData {
    margin-top: 15px;
}

.spotData span{
    color: gray;
}

.spotData p{
    margin: 7px 0px 0px 0px;
}

.addNewSpot .button{
    width: auto;
    padding: 7px;
    font-size: 15px;
    background-color: grey;
    margin: 15px 0px;
    border: 1px solid black;
    border-radius: 5px;
}

.addNewSpot .update-button{
    margin-right: 15px;
}
