.input-field {
  width: 100%;
  padding: 2px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: rgb(221, 236, 250);
  margin-top: 15px;
}

/* .login-button:disabled {
    background-color: white;
    color: grey;
    cursor: not-allowed;
  } */

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
